In [3]:
DATA_TYPE = "adult"

# MY_FIX_CSV = "./data/adult/adult.csv"
CLEAN_ORIGIN_CSV = f"./data/{DATA_TYPE}/{DATA_TYPE}_clean_original.csv"
CLEAN_CSV = f"./data/{DATA_TYPE}/{DATA_TYPE}.csv"

# with open(MY_FIX_CSV, "r") as f:
#     head = f.readline().strip()

# columns = head.split(",")
# columns

In [5]:
from collections import defaultdict
import pandas as pd


data = defaultdict(list)

with open(CLEAN_ORIGIN_CSV, "r") as f:
    l_c = -1
    for l in f:
        l_c += 1
        if l_c == 0:
            continue
        line = l.strip()
        tid, attribute, val = line.split(",")
        data[attribute].append(val)
        
full_csv = pd.DataFrame.from_dict(data)
# full_csv = full_csv[columns]

full_csv.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
full_csv.to_csv(CLEAN_CSV, index=False)